index-test.php
protected/config/*.php
themes/classic/
assets/
protected/runtime/
*.DS_Store*
/uploads/avatars/*
!/uploads/avatars/avatar.png
!/uploads/avatars/avatar1.png
!/uploads/avatars/avatar2.png
!/uploads/avatars/avatar3.png
!/uploads/avatars/avatar4.png
!/uploads/avatars/user.jpg
docs/
protected/messages/*
!protected/messages/config.php
protected/modules/admin/messages/*
!protected/modules/admin/messages/config.php
